<extra_id_1>从前，村子里住着对夫妻。妻子懒得总是不想干活，丈夫让她纺纱她总纺不完，就是纺好了也不绕成团，而是在地上缠成一大团。为了逃避纺纱的义务，她想了一个诡计。她生起了火，再把锅架在上面。可她没把纱线放进锅里，放进的却是些粗麻疙瘩。然后她跟丈夫打招呼，让他留意锅里的纱线，如果煮过头了，就会变成粗麻疙瘩。丈夫怕误事，赶紧起身，来到厨房里，向锅里一瞅发现里面尽是些粗麻疙瘩，不禁愕然。这可怜的丈夫以为是自己失了职，就再也不敢向女人提起纺纱的事。
<extra_id_1>从前有一位国王，整日沉迷于酒池肉林，不务政事。还经常愚弄大臣，是个昏君，百姓也怨声载道。有一天，众大臣按约定的时间来到王宫前静候国王的宣召，可是国王没有出现，他们又一次被国王愚弄了。他们对国王彻底失望了，决心起义，推翻这个昏君，另立明主。起义大军拿着武器到了城门前，还搬来了木柴和油桶，准备用火攻城门。国王卫队见状慌忙跑到后宫向国王报告。正在取乐的国王大惊失色，命令卫队守好城门，自己却收拾起了金银，准备逃走。卫队心有不忿，替起义军打开了城门。起义军搜寻了王宫上下，终于发现了被卡在狗洞里的国王。